.Chair {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 6px;

    &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
        transition: all 0.3s ease-in-out;
    }

    &.booking {
        background-color: red;
        color: white;
        border: transparent;
    }

    &.booked {
        background-color: grey;
        color: white;
        border: transparent;
        pointer-events: none;
    }

    &.disabled {
        border: transparent;
        pointer-events: none;
    }
}